.display-issue-card:hover {
  background-color: cornflowerblue;
  color: white;
}

.issue-details-card:hover {
  background-color: cornflowerblue;
  color: white;
}

.additional-info {
  display: none;
  padding-top: 10px;
  /* border: 1px solid black; */
}

.display-issue-card:hover .additional-info {
  display: block;
}

.form-style {
  padding: 50px;
  background-color: rgb(252, 252, 252);
  box-shadow: 10px 8px 0px -1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 10px 8px 0px -1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 10px 8px 0px -1px rgba(0, 0, 0, 0.05);
}
